div{
   
        position: relative;
        height: 200px;
        width: 400px;
        border: 3px solid darkblue;
        border-radius: 15px;
        padding: 20px;
        margin: 20px 20px 20px 20px;
}

p{
    color: gray;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

em{
    color: black;
    font-weight: bold;
}